@{
    ViewData["Title"] = "Home Page";
}

@await Component.InvokeAsync("About")
@await Component.InvokeAsync("Service")
@await Component.InvokeAsync("Portfolio")
@await Component.InvokeAsync("Testimonial")
<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
    <div class="container">

        <div class="text-center">
            <h3>Call To Action</h3>
            <p> Welcome </p>
            <a class="cta-btn" href="#Contact">Call To Action</a>
        </div>

    </div>
</section><!-- End Cta Section -->
@await Component.InvokeAsync("Team")
@await Component.InvokeAsync("Contact")