@model CategoryUpdateVM
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="mb-2">
    <h5 class="card-title">Update Category</h5>

    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Category" asp-action="GetCategoryList">Categories </a></li>

            <li class="breadcrumb-item"><a href="#">Update</a></li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-body">
        <!-- Floating Labels Form -->
        <form asp-area="Admin" asp-controller="Category" asp-action="UpdateCategory" method="post" class="row g-3" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="RowVersion" />


            <div class="col-md-12 ">
                <div class="form-floating">
                    <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                    <label asp-for="Name">Name</label>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form><!-- End floating Labels Form -->

    </div>
</div>


