@model TeamAddVM
@{
    ViewData["Title"] = "AddTeam";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="mb-2">
    <h5 class="card-title">Add New Team Member </h5>

    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Team" asp-action="GetTeamList">Team </a></li>

            <li class="breadcrumb-item"><a href="#">Add</a></li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-body">
        <!-- Floating Labels Form -->
        <form asp-area="Admin" asp-controller="Team" asp-action="AddTeam" method="post" class="row g-3" enctype="multipart/form-data">
            <input type="hidden" asp-for="FileName" value="test" />
            <input type="hidden" asp-for="FileType" value="test" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-12 ">
                <div class="form-floating">
                    <input asp-for="FullName" type="text" class="form-control" placeholder="Name">
                    <label asp-for="FullName">Name</label>
                    <span asp-validation-for="FullName" class="text-danger"></span>

                </div>
            </div>

            <div class="col-md-12">
                <div class="form-floating">
                    <textarea asp-for="Title" type="text" class="form-control" placeholder="Title"></textarea>
                    <label asp-for="Title">Title</label>
                    <span asp-validation-for="Title" class="text-danger"></span>

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating">
                    <input asp-for="Twitter" type="text" class="form-control" placeholder="Twitter">
                    <label asp-for="Twitter">Twitter</label>
                    <span asp-validation-for="Twitter" class="text-danger"></span>

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating">
                    <input asp-for="FaceBook" type="text" class="form-control" placeholder="FaceBook">
                    <label asp-for="FaceBook">FaceBook</label>
                    <span asp-validation-for="FaceBook" class="text-danger"></span>

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating">
                    <input asp-for="Instagram" type="text" class="form-control" placeholder="Instagram">
                    <label asp-for="Instagram">Instagram</label>
                    <span asp-validation-for="Instagram" class="text-danger"></span>

                </div>
            </div>
            
            <div class="col-md-3">
                <div class="form-floating">
                    <input asp-for="LinkedIn" type="text" class="form-control" placeholder="LinkedIn">
                    <label asp-for="LinkedIn">LinkedIn</label>
                    <span asp-validation-for="LinkedIn" class="text-danger"></span>

                </div>
            </div>
            <div class="row-mb-12">
                <label asp-for="Photo" class="col-md-4 col-lg-3 col-form-label"></label>
                <div class="col-md-8 col-lg-9">
                    <input asp-for="Photo" accept="image/*" type="file" class="form-control">
                    <span asp-validation-for="Photo" class="text-danger"></span>

                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form><!-- End floating Labels Form -->

    </div>
</div>

