<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Admin Panel</title>
  <meta content="Admin Panel for Plumbing Website" name="description">
  <meta content="Web, Web, Web" name="keywords">

  <!-- Favicons -->
  <link href="~/Admin/assets/img/favicon.png" rel="icon">
  <link href="~/Admin/assets/img/favicon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
    <link href="~/Admin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Admin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Admin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Admin/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/Admin/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/Admin/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Admin/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
    <link href="~/Admin/assets/css/style.css" rel="stylesheet">

  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
          <img src="~/Admin/assets/img/favicon.png" >
        <span class="d-none d-lg-block">@User.Identity!.Name</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
    <div class="header-nav ms-auto">
        <ul class="d-flex alignalign-items-center">
            <li> <a class="btn btn-outline-info me-2" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house-door"></i></a></li>
            <li><a class="btn btn-outline-warning me-2" asp-area="Admin" asp-controller="Dashboard" asp-action="Index"><i class="bi bi-person-bounding-box"></i></a></li>
            <li><a class="btn btn-outline-danger" asp-area="User" asp-controller="AuthenticationUser" asp-action="Logout"><i class="bi bi-box-arrow-right"></i></a></li>

        </ul>
    </div>
    </header> <!-- ======= EndHeader ======= -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    
    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
                <a class="nav-link collapsed" asp-area="Admin" asp-controller="About" asp-action="GetAboutList">
              <i class="bi bi-building"></i>
              <span>About</span>
          </a>
      </li> <!--end about section-->

      
      <li class="nav-item">
                <a class="nav-link collapsed" asp-area="Admin" asp-controller="HomePage" asp-action="GetHomePageList">
              <i class="bi bi-house"></i>
              <span>Home Page</span>
          </a>
      </li> <!--end Home Page section-->
      <li class="nav-item">
                <a class="nav-link collapsed" asp-area="Admin" asp-controller="Service" asp-action="GetServiceList">
              <i class="bi bi-sliders2-vertical"></i>
              <span>Service</span>
          </a>
      </li> <!--end Service section-->
      <li class="nav-item">
                <a class="nav-link collapsed" asp-area="Admin" asp-controller="Team" asp-action="GetTeamList">
              <i class="bi bi-people-fill"></i>
              <span>Team</span>
          </a>
      </li> <!--end Team section-->
      <li class="nav-item">
                <a class="nav-link collapsed" asp-area="Admin" asp-controller="Testimonial" asp-action="GetTestimonialList">
              <i class="bi bi-chat-left-dots"></i>
              <span>Testimonial</span>
          </a>
      </li> <!--end Testimonial section-->
      <li class="nav-item">
                <a class="nav-link collapsed" asp-area="Admin" asp-controller="Category" asp-action="GetCategoryList">
              <i class="bi bi-tags"></i>
              <span>Categories</span>
          </a>
      </li> <!--end Categories section-->
      <li class="nav-item">
                <a class="nav-link collapsed" asp-area="Admin" asp-controller="Portfolio" asp-action="GetPortfolioList">
              <i class="bi bi-image"></i>
              <span>Portfolio</span>
          </a>
      </li> <!--end Portfolio section-->
      <li class="nav-item">
                <a class="nav-link collapsed" asp-area="Admin" asp-controller="Contact" asp-action="GetContactList">
              <i class="bi bi-envelope"></i>
              <span>Contact</span>
          </a>
      </li> <!--end Contact section-->
      <li class="nav-item">
          <a class="nav-link collapsed" asp-area="Admin" asp-controller="Admin" asp-action="GetUserList">
               <i class="bi bi-person"></i>
               <span>User List</span>
          </a>
      </li> <!--end Contact section-->
   </ul>   

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

      @RenderBody()

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
    <script src="~/Admin/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/Admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Admin/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/Admin/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/Admin/assets/vendor/quill/quill.js"></script>
    <script src="~/Admin/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/Admin/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/Admin/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
    <script src="~/Admin/assets/js/main.js"></script>

</body>

</html>