@model List<HomePageVMForUI>
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                @foreach(var item in Model)
                {
                    <h1>@item.Header</h1>
                    <h2>@item.Description</h2>
                    <div class="d-flex">
                        <a href="#" class="btn-get-started scrollto">Get Started</a>
                        <a href="@item.VideoLink" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                    </div>
                }
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="~/eNno/assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section>