@model AboutUpdateVM

<div class="col-md-3">
    <div class="form-floating">
        <input asp-for="SocialMedia.Twitter" type="text" class="form-control" placeholder="Twitter">
        <label asp-for="SocialMedia.Twitter">Twitter</label>
    </div>
</div>
<div class="col-md-3">
    <div class="form-floating">
        <input asp-for="SocialMedia.FaceBook" type="text" class="form-control" placeholder="FaceBook">
        <label asp-for="SocialMedia.FaceBook">FaceBook</label>
    </div>
</div>
<div class="col-md-3">
    <div class="form-floating">
        <input asp-for="SocialMedia.Instagram" type="text" class="form-control" placeholder="Instagram">
        <label asp-for="SocialMedia.Instagram">Instagram</label>
    </div>
</div>
<div class="col-md-3">
    <div class="form-floating">
        <input asp-for="SocialMedia.LinkedIn" type="text" class="form-control" placeholder="LinkedIn">
        <label asp-for="SocialMedia.LinkedIn">LinkedIn</label>
    </div>
</div>
